<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <link 
            rel="shortcut icon" 
            href="/images/favicon.ico" 
            type="image/vnd.microsoft.icon"
        />        

        <title>{{ page.title }}</title>

        <!-- Local CSS paths -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    
    <body>
        {{ content }}
        <!-- Local JS paths -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>