<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div>
            {% include header.html %}
        </div>
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
        <footer class="footer">
            {% include footer.html %}
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>