---
layout: base
title: ""
---

<div class="subscriptionHeaderTop">
  	<div class="container">  
  		<div class="row">
  			<div class="col-md-4"><p>“Our goal should be to change the whole world, but that each of us should take the responsibility for changing ourselves.” -Rav Berg</p></div>
  			<div class="col-md-8"><img src="../images/master-class.jpg"></div>
  		</div>
    </div>
</div>

<div>
    {% include header.html %}
</div>

{{ content }}

<footer class="footer">
    {% include footer.html %}
</footer>