.article {
    @include theme-light;
}

.gradient-darkest-dark {
    background-image: -webkit-linear-gradient($darkest 0%, $darker 100%);
    background-image: -moz-linear-gradient($darkest 0%, $darker 100%);
    background-image: -o-linear-gradient($darkest 0%, $darker 100%);
    background-image: linear-gradient($darkest 0%, $darker 100%);
}

.bg-darkest {
    background-color: $darkest;
}

.side-borders {
    border-left: 1px solid $light;
    border-right: 1px solid $light;
}

#pesach-lead {
    width: 100%;
    height: 500px; 
    background-image: url("/images/pesach-jumbotron-faded.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;   
}



