@mixin theme-light {
    background-color: $lightest;
    color: $dark;  

    a {
        color: $neutral-red;

        &:hover {
            color: $neutral-red;    
        }
    }  

    .well {
        background: none;
        background-color: $lightish;
    }
}

@mixin theme-dark {
    background-color: $darker;
    color: $light;   

    a {
        color: $lightest;

        &:hover {
            color: $lightest;    
        }
    }     
}

html {
    position: relative;
    min-height: 100%;
}

body {
    //@include theme-light;
    @include theme-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p {
    font-weight: 300;
}

.container {
    width: auto;
    max-width: 1050px;
    padding: 0px 40px;
}

.navbar {
    background-color: $darker;
    border-color: $darker;
    border-bottom: 1px solid $light;
    margin-bottom: 1px;
}

.navbar-header{
   left: 50%;
   position: relative;
   transform: translateX(-50%);
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 10px 15px;
    width: auto;
}

.footer {
    background-color: $dark;
    border-top: 2px solid $light;
    margin-top: 0px;
    padding: 40px;

    p {
        font-weight: normal;
    }
}

.jumbotron {
    @include theme-dark;
    color: $lightest;
    background: none;
    background-image: none;
    margin: 10px;
    padding: 10px;
}
