$freeColor: #444549;
$basicColor: #348ff0;
$premiumColor: #0c539d;
$premiumPlusColor: #c7332f;

@mixin subscription-box($bgColor) {
	a {
		color: #212121;
		font-weight: 100;
	}

	.well {
		background-color: $bgColor;
		color: #fff;

		#best-value {		
			background-color: #F1A40B;
					
		}
	}

	&:hover {
		* {
			color: #bbb666;
			text-decoration: none;
		}
  	}
}

#free-subscription {
	@include subscription-box($freeColor);
}

#basic-subscription {
	@include subscription-box($basicColor);
}

#premium-subscription {
	@include subscription-box($premiumColor);
}

#premium-plus-subscription {
	@include subscription-box($premiumPlusColor);
}

#subscription-header {
	background-color: #000;
	//background-image: url("/images/master-class.jpg");
	//background-repeat: no-repeat;
	//background-position: 50% 50%;
    color: #fff;
	padding: 80px;
}

#subscription-footer {
	background-color: #000;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	
}