<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    Copyright &copy; 2017 Kabbalah Centre International<br />
                    A Non-Profit Organization
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">        
                <p class="text-center">
                    1-800-KABBALAH |
                    <a href="mailto:care@ukabbalah.com">care@ukabbalah.com</a> |
                    <a href="https://university.kabbalah.com">
                        Kabbalah University
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>